.pagina-faq{
    background-image: url("../image/backgrounds/background2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.faq{
    width:90%;
    max-width:1100px;
    margin:120px auto;
}

.faq_titulo{
    text-align:center;
    margin-bottom:60px;
}

.faq_titulo > span{
    display: block;
    text-align: center;
    margin-bottom: .8rem;
    color: var(--azul);
    font-size: .82rem;
    font-weight: 600;
    letter-spacing: .15rem;
    text-transform: uppercase;
}

.faq_titulo h1{
    font-size:3rem;
    color:var(--azul-escuro);
    margin-bottom:15px;
}

.faq_titulo p{
    color:#666;
    font-size:1.1rem;
}

.faq_container{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.faq_item{
    background:#fff;
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    transition:.3s;
}

.faq_item:hover{
    transform:translateY(-2px);
    box-shadow:0 15px 35px rgba(0,0,0,.12);
}

.faq_pergunta{
    width:100%;
    background:none;
    border:none;
    cursor:pointer;
    padding:28px 35px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-size:1.15rem;
    font-weight:600;
    color:var(--azul-escuro);
}

.faq_icone{
    font-size:2rem;
    color:var(--azul);
    transition:.35s;
}

.faq_resposta{
    max-height:0;
    overflow:hidden;
    transition:max-height .45s ease;
}

.faq_resposta p{
    padding:0 35px 30px;
    line-height:1.8;
    color:#555;
}

.faq_item.ativo .faq_resposta{
    max-height:300px;
}

.faq_item.ativo .faq_icone{
    transform:rotate(45deg);
}

/* ===================================
   CTA FINAL FAQ
=================================== */

.faq_cta{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;

}

.faq_cta_container{
    max-width:900px;
    padding:4rem;
    background:rgba(255,255,255,.78);
    backdrop-filter:blur(14px);
    border:1px solid rgba(255,255,255,.55);
    border-radius:30px;
    box-shadow:0 15px 45px rgba(23,20,56,.08);
    text-align:center;
}

.faq_cta_subtitulo{
    color:var(--azul-claro);
    font-size:.95rem;
    font-weight:600;
    letter-spacing:2px;
    text-transform:uppercase;
}

.faq_cta_titulo{
    margin-top:.8rem;
    color:var(--azul-escuro);
    font-size:2.7rem;
   font-weight:700;
}

.faq_cta_texto{
    margin:2rem auto;
    max-width:650px;
    color:var(--texto);
    font-size:1.08rem;
    line-height:1.9;
}

.faq_cta_botoes{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
    margin-top:2rem;
}

.faq_cta_botao_principal{
    padding:16px 34px;
    background:var(--azul-escuro);
    color:white;
    border-radius:50px;
    font-weight:600;
    transition:.25s;
}

.faq_cta_botao_principal:hover{
    transform:translateY(-4px);
    background:var(--cinza);
}

.faq_cta_botao_secundario{
    padding:16px 34px;
    border:2px solid var(--azul-claro);
    color:var(--azul-claro);
    border-radius:50px;
    font-weight:600;
    transition:.25s;
}

.faq_cta_botao_secundario:hover{
    background:var(--azul-claro);
    color:var(--cinza);
}