.secao_especialidades_titulo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    height: auto;
}

.secao_especialidades_titulo_texto{
    font-family: var(--fonte-principal);
    font-size:  2em;
    font-weight: 700;
    color: var(--azul-escuro);
    text-align: center;
}
.secao_especialidades_final{
    place-items: center
}

.secao_especialidades_final_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    align-self: center;
    gap: 2em;
    width: 85%;
    margin-top: 2em;
    
}

.secao_especialidades_final_div{
    background-color: transparent;
    border: none;
    padding: 10px;
    font-size: 1em;
    text-align: center;
    overflow:hidden;

}

.secao_especialidades_final_img{
    width:100%;
    height:auto;
    object-fit:cover;
    display:block;
}

.secao_especialidades_final_img:hover{
    transform: scale(1.2,1.2);
}