.secao_principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.secao_principal_texto{
    max-width: 40%;
    padding-left: 2em;
}

.secao_principal_texto_titulo{
    font-family: var(--fonte-secundaria);
    font-size: 2.5em;
    color: var(--azul-escuro);
    margin-bottom: 0.5em;
}

.secao_principal_texto_descricao{
    font-family: var(--fonte-secundaria);
    font-size: 1.2em;
    color: var(--grafite);
    margin-bottom: 1em;
}

.secao_principal_texto_botao{
    font-family: var(--fonte-secundaria);
    font-weight: 500;
    background-color: transparent;
    color: var(--azul-escuro);
    border: 2px solid var(--azul-escuro);
    padding: 0.8em 1.5em;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 8px;
}

.secao_principal_texto_botao:hover{
    background-color: var(--azul-escuro);
    color: #fff;
}

.secao_principal_img{
    max-width: 62%;
}

.secao_principal_img_medica{
    width: 100%;
    height: auto;
    image-rendering: optimizeQuality;
    border-radius: 12px;
}