@import url("reset.css");
@import url("header.css");
@import url("secao_principal.css");
@import url("secao_especialidades.css");
@import url("secao_equipe.css");
@import url("secao_especialidades_titulo.css");

:root {
    --cor-de-fundo: #A19FB8;
    --cinza: #B8B2A3;
    --lavanda: #A19FB8;
    --azul: #799CB8;
    --grafite:#38352C;
    --azul-escuro: #171438;
    --branco: #FFFFFF;
    --fonte-principal: "Poppins";
    --fonte-secundaria: "Josefin Sans";
}

body{
    background-image: url("../image/backgrounds/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}